@media screen and (max-width: 754px) {
    .header__contact {
        margin: auto;
        margin-right: 0;
    }
}
@media screen and (max-width: 620px) {
    .header__phone {
        margin: auto;
    }
}

@media screen  and (min-width: 987px) {
    html,
    body {
        height: 100%;
    }
    .wrapper {
        height: 100%;
    }
    .product__view {
        animation: liftDown 0.5s forwards ease-in-out;
    }
    .product__view:hover {
        animation: liftIn 0.5s forwards ease-in-out;
    }
}

@media screen and (max-width: 464px){
    .header__logo {
        margin: auto;
    }
    .header__menu {
        margin: auto;
        margin-right: 0;
    }
}

@media screen and (max-width: 437px) {
    .header__menu {
        display: none;
    }
    .block {
        flex-direction: column;
    }
    .header__contact {
        margin: 0 auto;
        padding-right: 0;
        width: auto;
    }
    .header__phone {
        padding-right: 0;
    }
    .header__social-block {
        margin-right: 0;
    }
    .commands {
        display: none;
    }
    .products {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
    }
}

@media screen and (max-width: 434px) {
    .header__logo, .header__menu {
        margin: auto;
    }
}
@media screen and (max-width: 374px){
    .header__social-block {
        margin-right: 0;
    }
    .header, .header__list {
        flex-direction: column;
    }
    .header__item {
        margin: 5px;
    }
    .header__contact {
        flex-direction: column;
    }
    .header__menu-down {
        display: none;
    }
}